
/* Your CSS Code here. */
.holder {
	display: grid;
	grid-template-columns: repeat(2, 100px);
	grid-template-rows: repeat(2, 100px);
	gap: 10px;
}

.item {
	background-color: #51dee3;
	padding: 30px;
}